
<li class="flex items-center justify-between border-b border-gray-300 py-4">
    <img [src]="book.image" [alt]="book.name" class="w-16 h-16 rounded-md object-cover">
    <div class="flex flex-col ml-4">
      <p class="text-lg font-medium">{{ book.name | titlecase }}</p>
      <p class="text-gray-600">{{ book.autor | titlecase }}</p>
      <p class="text-blue-900 font-medium">{{ book.amount | currency:'INR' }}</p>
    </div>
    <button *ngIf="!IsInCart" (click)="addToCart()" class="ml-auto bg-green-800 hover:bg-green-900 text-white font-medium py-2 px-4 rounded-md transition-colors duration-300">Add to Cart</button>
    <button *ngIf="IsInCart" (click)="removeFromCart()" class="ml-auto bg-red-700 hover:bg-red-900 text-white font-medium py-2 px-4 rounded-md transition-colors duration-300">Remove from Cart</button>
  </li>
  
